{% extends 'layouts/base.html' %} 

{% block title %} UDIS | {% endblock title %} 

{% block content %}
<div class="flex flex-col justify-center items-center gap-3">
    <div>

        <div class="text-center">UDIS Hoy: {{ udis_today }}</div>
        <div class="w-full">
            <form action="{% url 'udis:index' %}" method="GET">
                <div class="flex flex-col gap-3">
                    {{ form }}

                    <button type="submit" class="bg-blue-500 border-2 border-blue-800 text-white uppercase p-2 rounded-lg font-bold">
          Consultar
        </button>
                </div>
            </form>
        </div>

    </div>
    <div>
        <p>Promedio: {{ average }}</p>
        <p>Máximo: {{ max.fecha }} {{ max.dato }}</p>
        <p>Mínimo: {{ min.fecha }} {{ min.dato }}</p>

        {% for item in udis %}
        <p>{{ item.fecha }} - {{ item.dato }}</p>
        {% empty %}
        <p>no hay datos</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}