{% extends 'layouts/base.html' %} 

{% load dollar_tags%}

{% block extrahead %}
    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"
      integrity="sha256-ErZ09KkZnzjpqcane4SCyyHsKAXMvID9/xwbl/Aq1pc="
      crossorigin="anonymous"
    ></script>
{% endblock extrahead %}

{% block title %} Dollar | {% endblock title %}

{% block content %}
<div class="flex flex-col justify-center items-center gap-3">
    <div class="w-full md:w-1/2">

        {% include 'includes/today-value.html' with title="UDIS hoy" value=udis_today %}

        {% comment %} Form {% endcomment %}

        {% include 'includes/form-box.html' with title="Consultar Dollar" form=form route_name="udis:index" %}
        
        {% comment %} endForm {% endcomment %}

    </div>
    {% if udis_dates and udis_values %}
        <div class="flex md:flex-row flex-wrap md:justify-around justify-center w-full md:w-1/2">
            {% comment %} Average Max Min Cards {% endcomment %}
            
            {% include 'includes/data-mini-card.html' with title='Promedio' value=average %}

            {% include 'includes/data-mini-card.html' with title='Máximo' value=max.dato date=max.fecha %}

            {% include 'includes/data-mini-card.html' with title='Mínimo' value=min.dato date=min.fecha %}
            
            {% comment %} End Average Max Min Cards {% endcomment %}
        </div>

        {% comment %} Chart {% endcomment %}

        {{ udis_dates|json_script:"udis_dates" }}

        {{ udis_values|json_script:"udis_values" }}

        {% include 'includes/chart.html' with xaxis='udis_dates' yaxis='udis_values' title='UDIS'%}
        
        {% comment %} endChart {% endcomment %}
    {% endif %}

</div>
{% endblock content %}

